.order{
    width: 90%;
    margin: 50px auto;
}
.order-search{
    width: 100%;
    /* margin: 20px auto; */
    display: flex;
    /* justify-content: space-between; */
}
.order-add-button{
    margin-left: auto;
    /* margin-top: 10px; */
    height: 40px;
}
.order-search-input{
    width: 40%;
    height: 40px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
}
.order-search-input:focus{
    outline: none;
}
.order-search-input:hover{
    border: 1px solid #000;
}
.order-search-button{
    height: 40px;
}

.order-list{
    margin-top: 20px;
}
.order-list-header{
    color: aliceblue;
    background-color: #999999;
}
.order-label{
    margin-bottom: 10px;
}
.order-input{
    height: 30px;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 5px;
    border-radius: 4px;
    border: 1px solid #999999;
}
.order-detail-header{
    color: #000;
}
.order-header{
    display: flex;
    /* justify-content: center; */
    /* text-align: center; */
    flex-direction: row;
}
.order-card{
    width: 30%;
    height: 80px;
    margin-bottom: 20px;
    margin-right: 20px;
    text-align: center;
    border-left: 5px solid #3366FF;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
}
.order-card-title{
    font-size:15px;
    font-weight: bold;
    color: #003366;
    justify-content: space-between;
}
.order-card-number{
    font-size: 30px;
    font-weight: bold;
    color: #3366FF;
    justify-content: space-between;
}